@{
    ViewBag.Title = "Welcome";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="Content/animate.css" />
    <link rel="stylesheet" href="Content/bootstrap.css" />
    <link rel="stylesheet" href="Content/Site.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Pura Vida hotel reservations</title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="col-md-4 noFloat">
        <img src="Content/Images/GuestHome.png" class="animated fadeInDown" />
        <br /><br /><br />
    </div>
    <div class="col-md-3 noFloat text-center" style="font-size:19px;position:center">
        <nav>
            <a class="animated fadeInDown delay-1" href="Account/Register.aspx">Register now for reservate |</a>
            <a class="animated fadeInDown delay-2" href="Account/Login.aspx">Sign up |</a>
            <a class="animated fadeInDown delay-3" href="/About.aspx">About us</a>            
        </nav>
    </div>
    <br /><br /><br /><br />
    <div class="animated fadeIn delay-4">
        <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
            <img src="Content/Images/HotelBrands/Canopy.png" title="Canopy Hotels" class="grayscale marginRight" />
            <img src="Content/Images/HotelBrands/Conrad.png" title="Conrad Hotels" class="grayscale marginRight" />
            <img src="Content/Images/HotelBrands/Curio.png" title="CUrio Hotels" class="grayscale marginRight" />
            <img src="Content/Images/HotelBrands/DoubleTree.png" title="Double Tree Hotels" class="grayscale marginRight" />
            <img src="Content/Images/HotelBrands/Embassy.png" title="Embassy Hotels" class="grayscale marginRight" />
            <img src="Content/Images/HotelBrands/GardenInn.png" title="Garden Inn Hotels" class="grayscale marginRight" />
            <img src="Content/Images/HotelBrands/GrandVacations.png" title="Grand Vacations Hotels" class="grayscale marginRight" />
            <img src="Content/Images/HotelBrands/Hampton.png" title="Hampton Hotels" class="grayscale marginRight" />
            <img src="Content/Images/HotelBrands/HHonors.png" title="HHonors Hotels" class="grayscale marginRight" />
            <img src="Content/Images/HotelBrands/Hilton.png" title="Hilton Hotels" class="grayscale marginRight" />
            <img src="Content/Images/HotelBrands/Home2.png" title="Home2 Hotels" class="grayscale marginRight" />
            <img src="Content/Images/HotelBrands/Homewood.png" title="Homewood Hotels" class="grayscale marginRight" />
            <img src="Content/Images/HotelBrands/Tru.png" title="Tru Hotels" class="grayscale marginRight" />
            <img src="Content/Images/HotelBrands/Waldorf.png" title="Waldorf Hotels" class="grayscale marginRight" />
        </marquee>
    </div>
</body>
</html>
